.oe_structure{
    position: fixed;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
}

.form{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
    padding: 3rem;
    border-radius: 15px 8px 8px 15px;
    background-color: #fff;
}

.card.page-container {
    /*max-width: 90rem;*/
    width: 90rem;
    /*margin: 3rem auto auto auto;*/
    min-height: 40rem;
    /*padding: 3% 4%;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*border: 1px solid white;
    box-shadow: 10px 10px 64px 0px rgba(180, 180, 207, 0.75);
    -webkit-box-shadow: 10px 10px 64px 0px rgba(186, 186, 202, 0.75);
    -moz-box-shadow: 10px 10px 64px 0px rgba(208, 208, 231, 0.75);*/
    border-radius: 8px;
    border: none;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    background-color: #71639e;
}
.user-details{
    width: 20%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 3rem 0 3rem 3rem;
}
.name>a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}
.name .dropdown-menu{
    min-width: 7em;
    background-color: transparent;
    border: none !important;
}
.name .dropdown-toggle img{
    display: block;
}
.name .dropdown-toggle p{
    display: inline;
}

.name .dropdown-menu .dropdown-item{
    color:#fff;
}

.profile-picture{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}
.button-back{
    background-color: #71639e;
    font-size: 18px;
    padding: 10px 15px;
    width:8em;
    font-weight: 500;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 0;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    cursor: pointer;

}
.button-back i{ 
    margin-block-start: 0.3em;
}
.button-back:focus {
    box-shadow: 0 0 0 0.2rem rgb(134 122 173 / 50%);
}
.title{
    border: 1px solid #e2e2e2 !important;
    border-radius: 9px;
    text-align: center;
}
.title.row{
    height: 6rem;
}


@media (max-width: 767.98px) { 
    .card.page-container{
        display: block;
        height: 100%;
        margin: 0;
        padding:0;
    }

    .user-details{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
        max-height: 3rem;
        border-bottom: solid 1px #c0c0c0;
        border-right:none;
        padding: 0.7em 1em;
        background-color: #71639e;
    }

    .name{
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        margin-bottom: 1em;
    }


    .name p{
        display: inline;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-size: 15px;
        color: white;
    }

    .name .dropdown-menu{
        min-width: 7em;
        inset: 25px 0px auto auto !important;
    }
    .name .dropdown-toggle img{
        display: inline;
        width: 2rem !important;
        height: 2em !important;
    }

    .button-back {
        width: 2em;
        padding: 0 0 1em 0;
        background: none;
    }
    .button-back i{
        font-size: 20px;
        color: white;
    }
    .button-back a{
        display: none;
    }

    .button-next{
        font-size: 15px !important;
    }
}