.dashboard{
    background-color: #eee;
}
.dashboard>h2{
    padding:0.5em 0 0 0.5em;
    color: #495057;
}
.dashboard-container{
    padding:1em;
}
.confirmed_mos, .in_progress_mos, .close_mos, .done_mos, .products{
    text-align:center;
}
.confirmed_mos p, .in_progress_mos p, .close_mos p, .done_mos p, .products p{
    font-size:1em;
    margin:0;
}
.confirmed_mos{ 
    background-color: rgba(23, 162, 184, 0.5)
}
.in_progress_mos{
    background-color: rgba(255, 172, 0, 0.5);
}
.close_mos, .done_mos{
    background-color: rgba(40, 167, 69, 0.5);
}
.products{
    background-color: #71639ec2;
}

.card.mo-progress .card-body{
    overflow-y:scroll;
    padding: 0;
}

.card.mo-progress .card-body .list-group-item{
    display: flex;
    color: #495057;
    font-size: 14px;
}


.progress-bar{
    background-color: rgba(40, 167, 69, 0.7);
}
#progress-table .mo-name{
    width:8.5em;
}
#progress-table td{
    padding:0.5em;
}
.accordion-item{
    padding:0.5rem 1rem;
}
.accordion-item:hover{
    color: #71639e;
    font-weight: 500;
    cursor: pointer;
}
.accordion-item.active .heading{
    color: #71639e;
    font-weight: 500;
}
.accordion-item.active .heading .row{
    border-bottom: solid 1px  #71639e;

}
.wo-list{
    margin-top:1rem;
}
.wo-list p{
    margin:0;
}
.card-efficiency canvas{
    height: 100%;
    width: 100%;
}

.card-gantt2 .card-body{
    padding:0;
}
.card-gantt2 .gantt-toolbar{
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
}
.card-inventory{
    max-height: 433;
    overflow-y:scroll;
}

.gantt-toolbar{
    display: flex;
    justify-content: space-between;
}
#search{
    width: 30%;
}
nav{
    padding: 0 1em !important;
    background-color: #71639e !important;
}
.navbar-brand{
    color: white;
}
.button-logout{
    border:1px solid white;
    color:white;
    margin: auto 0;
}
a{
    color:white !important;
    text-decoration: none;
}

.deadline_marker{
    background-color: red !important;
}
.gantt_task_line{
    background-color: #c6c6c6;
    border-radius: 7px;
    border:none;
}

.gantt_task_row.gantt_selected .gantt_task_cell,
.gantt_grid_data .gantt_row.gantt_selected, 
.gantt_grid_data .gantt_row.odd.gantt_selected,
.gantt_task_row.gantt_selected {
    border-color: #c7e2ee;
    background-color: #c7e2ee!important;
}

.gantt_row.gantt_row_task:hover,
.gantt_row.odd.gantt_row_task:hover{
    background-color: #c7e2ee;
}



@media (max-width: 767.98px) { 

    .gantt_layout_cell.grid_cell{
        height: 200px !important;
        width: 100% !important;
        overflow-y:scroll;
        display: block !important
    }

     .gantt_layout_cell.timeline_cell{
        display: block !important;
        width: 100% !important;
        height: 350px !important;

    } 
 
   
    /*.gantt_layout_cell.grid_cell .gantt_layout_content,
    .gantt_layout_cell.grid_cell .gantt_layout_content .gantt_grid,
    .gantt_layout_cell.grid_cell .gantt_layout_content .gantt_grid_data{
        height: inherit !important;
    }


   
    .gantt_layout_content,.gantt_data_area{
        height: inherit !important;
    }
    
   */
    
}